 {% extends "base.html" %}

 {% load static %}

 {% block contenido %}
 
{% for inicio in inicio1 %}

<div><p>

   <center><h2 style= "color:rgb(4, 113, 4)">{{inicio.titulo}}</h2></center>
   <center><h5>¡Hola! Esta es mi pagina web, donde podras navegar, conocerme y ponerte en contacto conmigo. ¿Quien soy? ¿A que me dedico? ¿Cuales son mis objetivos? Te lo contare todo en este blog personal que cree para que puedas conocer sobre mis propuestas y proyectos. Tendras acceso a mis redes sociales como linkedin e instagram. También estara disponible mi github con mis trabajos para que puedas ver mas en detalle.</h5></center>
   <center><h5></h5>
   <center><img src= "{{inicio.imagen.url}}" width="350 px" height="350 px"> <img src= "{% static 'App/assets/img/html.png' %} " width="350 px" height="350 px"><img src= "{% static 'App/assets/img/pythonimagen.jpg'%} " width="350 px" height="350 px"></center>




</p></div>





{% endfor %}

{% endblock %}

